@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
.text {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  font-size: 24px;
}
